*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{font-family: fantasy;
color: rgb(19, 19, 230);
font-size: 45px;


}
h1:hover{
    color: aquamarine;
    text-decoration: underline;
    transition: 0.3s;
    transform: skew(-45deg);
}